body {
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-title {
  font-size: 90px;
  margin-top:0px; 
  margin-bottom: 20px;
}

#search-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 200px;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

#search-header form {
  align-items: center;
  max-width: 600px;
}
