body {
  display: grid;
  gap: 15px;
  margin: auto;
  margin-top: 15px;
}

h1 {
  font-size: 40px;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

#search-header {
  display: flex;
  flex-direction: column;
}

#search-input {
  margin-top: auto;
  margin-bottom: auto;
}

#submit-btn {
  margin-top: auto;
  margin-bottom: auto;
}

#results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 3px solid var(--border);
  border-radius: 15px;
}

@media (max-width: 700px) {
    /* make stultus logo go to top and center itself above search bar */
}