body {
  display: grid;
  gap: 15px;
  margin: auto;
  margin-top: 15px;
}

h1 {
  font-size: 40px;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

#search-header {
  display: flex;
  flex-direction: column;
}

#search-input {
  margin-top: auto;
  margin-bottom: auto;
}

#submit-btn {
  margin-top: auto;
  margin-bottom: auto;
}

#results-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 15px;
  border: 3px solid var(--border);
  border-radius: 15px;
  min-height: 400px;
  overflow: scroll;
  background-color: var(--fg);
}

.result {
  width: 100%;

}

.text-buffer {
  display: grid;
  grid-template-columns: auto auto auto;  
}

.result p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  font-style: italic;
  color: var(--debug-text);
}

.result h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}


@media (max-width: 700px) {
    /* make stultus logo go to top and center itself above search bar */
}