<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creators</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/creators.css">
    <script src="/static/js/creators.js" async defer></script>
</head>
<body>
    <div class="person" id="jack">
        <img src="/static/imgs/jack_hagen.webp" alt="Jack Hagen" class="profile-pic">
        <br>
        <div class="person-info">
            <h1 id="name">Jack Hagen</h1>
            <p id="bio">I am a third year computer science and political science major at the University of Wisconsin - Eau Claire (UWEC). I am the president of UWEC's Association of Computing Machinery chapter, the president of the cybersecurity club, and director of UWEC's Student Senate Information Technology Commission. I work at the Blugold Center for High Performance Computing. I am interested in cybersecurity, networking, high performance computing, international relations, and cyber threat intelligence.</p>
        </div>
    </div>

    <div class="person" id="aaron">
        <img src="/static/imgs/aaron_fraser.webp" alt="Aaron Fraser" class="profile-pic">
        <br>
        <div class="person-info">
            <h1 id="name">Aaron Fraser</h1>
            <p id="bio">I am currently a computer science student at University of Wisconsin Eau Claire and have just finished a year abroad in Marburg, Germany. My minor is in German and have a fluency level of B2 German. Last year, I was part of a project through UWEC with Mayo Clinic to create a web app where I taught myself Python and Flask. Now I do research in AI on campus, have joined 2 clubs, all while balancing 19 credits and an on campus job.  I am also publishing a math paper in number theory that I am excited about. I have many interests, and love learning more. I currently have a few projects, but they are still works in progress, including the search engine I am presenting with my team at this event.</p>
        </div>
    </div>

    <div class="person" id="reed">
        <img src="/static/imgs/reed_graf.jpg" alt="Reed Graf" class="profile-pic">
        <br>
        <div class="person-info">
            <h1 id="name">Reed Graf</h1>
            <p id="bio">I am a freshman college student studying computer science student at the University of Wisconsin-Eau Claire. I has a passion for server architecture and experience in networking, cloud computing, and command-line Linux.</p>
        </div>
    </div>
    
    <div class="person" id="silas">
        <img src="/static/imgs/silas_eacret.webp" alt="Silas Eacret" class="profile-pic">
        <br>
        <div class="person-info">
            <h1 id="name">Silas Eacret</h1>
            <p id="bio">I am a second-year CS major and Spanish minor at the University of Wisconsin - Eau Claire, focusing on cybersecurity and server administration. I serve as an executive board member for the Blugold Group cybersecurity club and as a contributor to many of its related projects. I am interested in a lot of different things, but right now has been focused on club projects, self-hosting setup and administration, and my work as a Student System Administrator at the Blugold Center for High Performance Computing.</p>
        </div>
    </div>
    

    <div id="bullets">
        <!--this is where the bullets get added in the js-->
    </div>




















</body>
</html>
