<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Search Engine</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/search.css">
    </head>
    <body>

        <div id="search-header">
            <h1 id="main-title">Stultus</h1>
            <form action="/search" method="get">
                <input id="search-input" name="q" type="search" placeholder=" Search..." autofocus>
                <input id="submit-btn" type="submit" value="🔍">
            </form>
        </div>
        
        <footer id="website-footer">
            <div>
                <a class="externalUrl" href="/dashboard">Dashboard</a>
            </div>
            | 
            <div>
                Website made by hand with love. ♡ 
            </div> 
            | 
            <div>
                <a class="externalUrl" href="/creators">Meet the Creators</a>
            </div>
        </footer>
    </body>
</html>