<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ query_string }} | Stultus</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/search-results.css">
</head>
    <body>
        <div id="search-header">
            <h1 id="main-title"><a href="/" style="color:var(--text);text-decoration:none;">Stultus</a></h1>
            <form action="/search" method="get">
                <input id="search-input" name="q" type="search" placeholder=" Search..." value="{{ query_string }}">
                <input id="submit-btn" type="submit" value="🔍">
            </form>
        </div>
        <div id="results-container">
            {% for url, score, relevance, ref_score, reference_count in search_results %}
                <div class="result">
                    <div class="text-buffer" style="margin:15px">
                        <div>
                            <h3>Website Title</h3>
                            <a href="{{ url }}">{{ url }}</a>
                        </div>
                        <div>
                            <p>Search Score: {{'%0.2f'|format(score)}}</p>
                            <p>Relevance: {{ '%0.2f'|format(relevance) }}</p>                            
                        </div>
                        <div>
                            <p>Ref Score: {{ '%0.2f'|format(ref_score) }}</p>
                            <p>Reference Ct: {{ '%0.2f'|format(reference_count) }}</p>
                        </div>
                        </div>
                </div>
            {% endfor %}
        </div>
        <!-- <footer id="motto-footer">Website made by hand with love. ♡</footer> -->
    </body>
</html>