<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ query_string }} | Stultus</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/search-results.css">
</head>
    <body>
        <div id="search-header">
            <form action="#">
                <h1 id="main-title">Stultus</h1>
                <input id="search-input" type="search" placeholder=" Search..." value="{{ query_string }}">
                <input id="submit-btn" type="submit" value="🔍">
            </form>
        </div>
        <div id="results-container">
        
        </div>
    </body>
    <footer id="motto-footer">Website made by hand with love. ♡</footer>
</html>